.btn{
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  padding: 8px 19px;
  line-height: 1;
  border-radius: $border-radius-base;
  border: none;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn-primary{
  color: $inverse-color;
  background: $primary-color;
  &:hover{
    color: $inverse-color;
    background: $primary-dark-color;
  }
}

.btn-block{
  width: 100%;
}

.btn-lg{
  font-size: $font-size-lg;
  line-height: 1;
  padding: 18px;
}

.disabled{
  pointer-events: none;
  //cursor: not-allowed;
}
