

.btn{
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  padding: 8px 19px;
  line-height: 1;
  margin: 2px;
  line-height: 1;
  border-radius: $border-radius-base;
  border: none;

  //@include transition-slow;

}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn-primary{
  color: $inverse-color;
  background: $primary-color;
  &:hover{
    background: $primary-dark-color;

  }
}

.btn-block{
  width: 100%;
}

//.disabled{
//  pointer-events: none;
//}
