$border-radius-base: 0.2rem;

.btn{
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  //border: $input-btn-border-width solid transparent;
  font-size: 14px;
  padding: 10px 14px;
  line-height: 1;
  border-radius: $border-radius-base;
  font-weight: 400;

  //@include transition-slow;
  color: white;
  background: red;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}


//.disabled{
//  pointer-events: none;
//}
