
// Color system
$white:  #fff !default;


$body-bg:       $white !default;
$body-color:    #1c2534 !default;


$text-muted: #7c8695 !default;

$primary-color: #87b448 !default;
$primary-dark-color: #71973c !default;
$inverse-color: white !default;
$text-secondary: #b7bfcd;



//$spacer: 1rem !default;

$grid-gutter-width: 30px !default;

$sidebar-width: 212px;

$link-color:          $body-color; // theme-color("primary") !default;
$link-decoration:       none !default;
$link-hover-color:      blue; //darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$font-family-base: ProximaNova-Reg, sans-serif !default;

$font-size-base: .875rem !default; // 14 Assumes the browser default, typically `16px`
$font-size-lg:   1rem !default;  // 16
$font-size-sm:   .75rem !default;  // 12
$font-size-v-sm:   .6875rem !default;

$font-weight-base: normal !default;
$line-height-base: 1.4 !default;


$h1-font-size: 1.875rem !default;
$h2-font-size: 1.75rem !default;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1.25rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: .875rem !default;

$headings-margin-bottom: .4rem !default;
$headings-font-family:   inherit !default;
$headings-font-weight:   500 !default;
$headings-line-height:   $line-height-base !default;
$headings-color:         inherit !default;


$paragraph-margin-bottom: 1rem !default;


$dt-font-weight: $font-family-base !default;

$border-width: 1px;
$border: $border-width solid #e0e2e6;
$border-radius-base: 0.4rem;

// Buttons

$input-btn-padding-y:       0.9rem !default;
$input-btn-padding-x:       1rem !default;
$input-btn-line-height:     1.25 !default;
$input-placeholder-color:   $text-muted !default;
$input-disabled-bg:         text-secondary;

$form-group-margin-bottom:  1rem !default;

// Tables
$table-cell-padding:        .75rem !default;

