<div class="bb-1 block">
  <div class="title">
    <h6 class="text-muted">Featured Companies</h6>
    <a>See All</a>
  </div>

  <div class="d-flex mb-1" *ngFor="let company of companies" >
    <div class="for-img">
      <img class="img" src="{{company.img}}" alt=" ">
    </div>
    <div class="hidden">
      <a class="h5">{{company.name}}</a>
      <div class="text-muted">{{company.specialization}}</div>
      <div class="text-muted">{{company.address}}</div>
      <a class="font-sm">Follow Now</a>
    </div>
  </div>
</div>
