@import "../../../assets/scss/mixins";


.h5{
  display: block;
  margin-bottom: 0;
  @include text-truncate();
}
.for-img{
  margin-right: 0.625rem;
  padding-top: 0.25rem;
}
.img{
  border-radius: .2rem;
}
.d-flex{
  display: flex;
}
.title{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 .1875rem;
}
.block{
  padding-bottom: .375rem;
  margin-bottom: .8125rem;
}
.hidden{
  overflow: hidden;
}
