@import "../../../assets/scss/variables";

.nav {
  padding-left: 0;
  list-style: none;
}

.nav .nav-item {
  position: relative;
  margin: 0;
  transition: background .3s ease-in-out;
}

a{
  display: flex;
  font-size: 1rem;
  padding: .815rem 0;
  color: #59606b;
  line-height: 24px;
  text-decoration: none;
  background: transparent;
  border-bottom: $border;
  &:hover{
    background: gainsboro;
  }
}

img{
  width: 24px;
  height: 24px;
  margin: 0 1.6rem 0 0;
  font-size: 14px;
  color: #b0bec5;
  text-align: center;
  display: inline-block;

}
