<app-message-dialog></app-message-dialog>
<div class="jumbotron">
  <div class="header">
    <app-logo></app-logo>
    <a class="btn btn-primary">Log In Now</a>
  </div>
  <div class="text-center text-inverse">
    <h1>Home of Dentistry</h1>
    <p>Denteez was created by dentists for dentistry in order to <br>
      make the life of everyone involved in dentistry easier.</p>
  </div>
</div>
<div class="bg_gray">
  <div class="container">
    <form class="form" [formGroup]="supportFG" (ngSubmit)="onSubmit()">
      <div class="card mb-2">
        <p class="text-muted font-lg">Fields marked “*” are required</p>
        <div class="form-group">
          <label class="col-form-label">Enquiry Type *</label>
          <select
            class="form-control"
            id="idType"
            formControlName="type">

            <option *ngFor="let type of types" [value]="type.name">
              {{type.name}}
            </option>

          </select>
        </div>

        <div *ngIf="supportFG.get('type').value === 'Other'" class="form-group">
          <input
            class="form-control"
            placeholder="Other"
            id="idotherType"
            formControlName="otherType">
        </div>

        <div class="row">
          <div class="col-2 form-group">
            <label class="col-form-label">Name *</label>
            <input class="form-control" placeholder="Dentist"
                   id="idname"
                   formControlName="name">
          </div>

          <div class="col-2 form-group">
            <label class="col-form-label">Email *</label>
            <input class="form-control"
                   type="email"
                   placeholder="rachelm@gmail.com"
                   id="idemail"
                   formControlName="email">
          </div>
        </div>

        <div class="form-group">
          <label class="col-form-label">Subject *</label>
          <input class="form-control"
                 id="idsubject"
                 formControlName="subject">
        </div>

        <div class="form-group">
          <label class="col-form-label">Description * <span>({{descLength}}/1000)</span></label>
          <textarea class="form-control"
                    id="iddescription"
                    formControlName="description"></textarea>
        </div>

        <div class="form-control loaderButton" (click)="onFileUpload()">
          <!--<input >-->
          <input type="file"
                 #fileUpload
                 (change)="onFileChange($event)"
                 formControlName="imageFile2"
                 accept="image/*">
          <input class="uk-input uk-form-width-medium"
                 formControlName="imageFile"
                 type="text" placeholder="Select file" disabled>

          <img *ngIf="fileToShow" class="uk-icon uk-icon-image" [src]="domSanitizer.bypassSecurityTrustUrl(fileToShow)"
               alt="">

          <div *ngIf="!fileToShow" class="notFile text-center">
            <p class="text-muted font-lg">Add photo</p>
            <p class="text-secondary font-sm">Minimum size of
              300x300 jpeg ipg
              png 5 MB</p>
          </div>
        </div>
      </div>
      <button [disabled]="!supportFG.valid" type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>

    </form>
  </div>
</div>
<div class="container about">
  <h1 class="text-center">About Denteez</h1>
  <div class="row">
    <div class="col-2">
      <p class="text-muted">Why is it always so difficult to find what you are looking for in dentistry? Whether it is the latest
        advancement
        in technology or techniques or simply a review or understanding of the vast amount of products? Perhaps finding
        someone to just fix your broken equipment or simply hiring new staff or looking for that new job?
      </p>
    </div>
    <div class="col-2">
      <p class="text-muted">
        Our mission is to give every dental professional the possibility to discuss and share all aspects of their
        profession, their practice and their business. We aim to make the world of dentistry easy and accessible, so
        every
        dental professional can find what they are looking for quickly and easily all in one place.
      </p>
    </div>
  </div>
</div>
<footer class="footer" yyy>
  <div class="container">
    <div class="col-2">
      <p class="text-secondary font-sm">Denteez Copyright 2015</p>
    </div>
    <div class="col-2">
      <ul class="list-unstyled font-sm">
        <li><a class="link text-secondary">Support</a></li>
        <li><a class="link text-secondary">Privacy Policy</a></li>
        <li><a class="link text-secondary">Terms of use</a></li>
      </ul>
    </div>
  </div>
</footer>
