@import "../../../assets/scss/variables";

.jumbotron{
  height: 510px;
  background-image: url(../../../assets/images/bg/jumbotron_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.container{
  //display: flex;
}


.bg_gray{
  background-image: url(../../../assets/images/bg/gray_bg.png);
  background-repeat: repeat;
  background-position: top center;
}
.form{
  margin: -100px auto 0;
  max-width: 760px;
}
.card{
  padding: 15px;
  border-radius: $border-radius-base;
  border: $border;
  background: $body-bg;
}


.footer{
  border-top: $border;
}
