<div class="bg_gray">
  <div class="jumbotron">
    <div class="container">
      <app-logo></app-logo>
      <a>Log In Now</a>
    </div>
    <div>
      <h1>Home of Dentistry</h1>
      <p>Denteez was created by dentists for dentistry in order to
        make the life of everyone involved in dentistry easier.</p>
    </div>
  </div>
  <div class="container">
    <form class="form">
      <div class="card">

        <p class="text-muted">Fields marked “*” are required</p>
        <label>Enquiry Type *</label>
        <input class="form-control" placeholder="Other">
        <input placeholder="Other">

        <label>Name *</label>
        <input class="form-control" placeholder="Dentist">

        <label>Email *</label>
        <input class="form-control" placeholder="rachelm@gmail.com">

        <label>Subject *</label>
        <input class="form-control">

        <label>Description * (0/1000)</label>
        <textarea class="form-control"></textarea>


        <div>
          <p>Add photo</p>
          <p class="text-muted">Minimum size of
            300x300 jpeg ipg
            png 5 MB</p>
        </div>
      </div>
      <button class="btn btn-primary">Submit</button>

    </form>
  </div>
</div>
<div class="container">
  <h1>About Denteez</h1>
  <p>Why is it always so difficult to find what you are looking for in dentistry? Whether it is the latest advancement
    in technology or techniques or simply a review or understanding of the vast amount of products? Perhaps finding
    someone to just fix your broken equipment or simply hiring new staff or looking for that new job?
  </p>
  <p>
    Our mission is to give every dental professional the possibility to discuss and share all aspects of their
    profession, their practice and their business. We aim to make the world of dentistry easy and accessible, so every
    dental professional can find what they are looking for quickly and easily all in one place.
  </p>
</div>
<footer>
  <div class="container">
    <div>
      <p class="secondary-color font-sm">Denteez Copyright 2015</p>
    </div>
    <div>
      <ul>
        <li><a>Support</a></li>
        <li><a>Privacy Policy</a></li>
        <li><a>Terms of use</a></li>
      </ul>
    </div>
  </div>
</footer>
