@import "../../../assets/scss/variables";

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.jumbotron{
  height: 508px;
  background-image: url(../../../assets/images/bg/jumbotron_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  .header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 38px;
  }

  h1{
    font-family: ProximaNova-Light;
    margin-top: 58px;
    font-size: 48px;
    margin-bottom: 0;
  }
  p{
    font-family: ProximaNova-Light;
    font-size: 20px;
    line-height: 1.5;
  }
}
.container{
  //display: flex;
  max-width: 1280px;
}


.bg_gray{
  background-image: url(../../../assets/images/bg/gray_bg.png);
  background-repeat: repeat;
  background-position: top center;
}
.form{
  margin: 0 auto;
  transform: translate(0px, -100px);
  max-width: 760px;
  p{
    margin-bottom: .7rem;
  }
  select, textarea{
    margin-bottom: 20px;
  }
  textarea{
    min-height: 152px;
  }
}
.card{
  padding: 14px 18px;
  border-radius: $border-radius-base;
  border: $border;
  background: $body-bg;
  p{
    margin-bottom: 8px;
  }
}

.loaderButton{
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  .notFile{
    padding: 1.8rem 1rem 0;
    background-color: #f7f7f7;
    height: 100%;
  }

  input{
    display: none;
  }
  img{
    max-width: 100%;
    max-height: 100%;
  }
}

.about{
  margin-top: 88px;
  margin-bottom: 94px;
  h1{
    font-family: ProximaNova-Light;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  p{
    font-family: ProximaNova-Light;
    font-size: 16px;
    line-height: 1.5;
  }
  .row{
    margin-left: -40px;
    margin-right: -40px;
  }
  .col-2{
    padding-left: 40px;
    padding-right: 40px;
  }

}

.footer {
  height: 78px;
  border-top: $border;
  color: #b7bfcd;
  line-height: 78px;
  .container{
    display: flex;
    justify-content: space-between;
  }
  ul{
    display: flex;
    justify-content: flex-end;
  }
  .link{
    padding-left: 24px;
  }
  .col-2 {
     padding-left: 0;
     padding-right: 0;
  }
}
