@import "../../../assets/scss/variables";

.jumbotron{
  height: 510px;
  background-image: url(../../../assets/images/bg/jumbotron_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.container{
  //display: flex;
}


.bg_gray{
  background-image: url(../../../assets/images/bg/gray_bg.png);
  background-repeat: repeat;
  background-position: top center;
}
.form{
  margin: -100px auto 2rem;
  max-width: 760px;
  p{
    margin-bottom: .7rem;
  }
  select, textarea{
    margin-bottom: 20px;
  }
  textarea{
    min-height: 152px;
  }
}
.card{
  padding: 15px 18px;
  border-radius: $border-radius-base;
  border: $border;
  background: $body-bg;
}

.loaderButton{
  width: 130px;
  height: 130px;
  display: flex;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
}


.footer{
  border-top: $border;
}
