@import "../../../assets/scss/mixins";

.for-img{
  margin-right: .625rem;
  padding-top: .125rem;
}
.img{
  border-radius: .2rem;
}
.d-flex{
  display: flex;
}
.title{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 .125rem;
}
.link{
  display: inline-block;
  margin-bottom: 2px;
}
.about{
  line-height: 1.25;
  p{
    margin-bottom: .375rem;
  }
}
.block{
  padding-bottom: .375rem;
}
.h5{
  display: block;
  margin-bottom: 0;
  @include text-truncate();
}
