@font-face {
  font-family: ProximaNova-Reg;
  src: url("assets/fonts/ProximaNova-Reg.otf") format("opentype");
}


/* You can add global styles to this file, and also import other style files */
//@import "assets/scss/variables";


//@import "assets/scss/normalize";
//
//@import "assets/scss/reboot";
//@import "assets/scss/type";



@import "assets/scss/functions";
@import "assets/scss/variables";
@import "assets/scss/mixins";
@import "assets/scss/reboot";
@import "assets/scss/type";
@import "assets/scss/test";


@import "assets/scss/buttons";

app-root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
