@font-face {
  font-family: ProximaNova-Reg;
  src: url("assets/fonts/ProximaNova-Reg.otf") format("opentype");
}

@font-face {
  font-family: ProximaNova-Light;
  src: url("assets/fonts/ProximaNova-Light.otf") format("opentype");
}

@import "assets/scss/functions";
@import "assets/scss/variables";
@import "assets/scss/mixins";

@import "assets/scss/reboot";
@import "assets/scss/grid";
@import "assets/scss/type";

@import "assets/scss/test";
@import "assets/scss/buttons";
@import "assets/scss/forms";
@import "assets/scss/modal";
@import "assets/scss/close";


