<header class="app-header">
  <app-header></app-header>
</header>
<div class="app-body container">
  <div class="sidebar">
    <app-nav></app-nav>
    <app-advertisement></app-advertisement>
    <app-featured-companies></app-featured-companies>
    <div class="footer-sm">
      <p class="font-sm text-secondary">Denteez Copyright 2015</p>
      <p>
        <a class="link font-sm text-secondary">Terms of use</a>
        <a class="link font-sm text-secondary">Privacy Policy</a>
      </p>
    </div>
  </div>
  <div class="main">
    <app-sevise></app-sevise>
  </div>
  <aside class="aside-menu">
    <app-people-may-know></app-people-may-know>
    <app-featured-products></app-featured-products>
    <app-advertisement></app-advertisement>
  </aside>
</div>
