<p>
  main works!
</p>



<header class="app-header">
  <app-header></app-header>
</header>
<div class="app-body container">
  <div class="sidebar">
    <app-nav></app-nav>
    <app-advertisement></app-advertisement>
    <app-featured-companies></app-featured-companies>
    <div>
      <p class="font-sm secondary-color">Denteez Copyright 2015</p>
      <p>
        <a class="font-sm secondary-color">Terms of use</a>
        <a class="font-sm secondary-color">Privacy Policy</a>
      </p>
    </div>
  </div>
  <div class="main">
    <app-sevise></app-sevise>
  </div>
  <aside class="aside-menu">
    <app-people-may-know></app-people-may-know>
    <app-featured-products></app-featured-products>
    <app-advertisement></app-advertisement>
  </aside>
</div>
